<!DOCTYPE html>
<html>
<head>
<style>
/* Style the submit button */
#startbutton {
  width: 100%;
  height: 50px;
  padding: 0px 2px 0px 2px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  position: absolute;
  bottom: 0px;
  
}

.start {
  position: absolute;
  top: 175px;
  bottom: 75px;
  width: 100%;
  background: grey;
}

.image {
  display: block;
  width: calc(100%);
  height: calc(100%);
}

</style>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
</head>
<body>
<h3>Welcome!</h3>
<h3>This task consists of 6 exercises. Below is an example of the screen for each exercise.</h3>
<h3>Report any issues you observe (functionality, appearance, or speed) using the guidelines and click on Submit button to go to next exercise.</h3>
<h3>PLEASE NOTE: PAYMENT DUE ONLY UPON COMPLETING ALL 6 EXERCISES WITH VALID REPORTS. SUBMIT REPORTS ONLY IN WRITTEN ENGLISH. </h3>
<div class="start">
<img src="/start_pic"/ class="image">
</div>
<button type="button" id="startbutton" onclick="window.location.href='URL Here'">Start Experiment</button>
</body></html>
<!-- YOUR HTML ENDS -->
